header{
    margin-bottom: 136px;
    nav{
        .nav__wrapper{
            padding: 44px 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .drop__down{
                position: absolute;
                visibility: hidden;
            }
            .nav__menu{
                display: flex;
                gap: 0 33px;
                list-style: none;
                & a{
                    text-transform: uppercase;
                    transition: 0.02s;
                    text-decoration: none;
                    @include font($barlow__Font, 12px, 700, #83888F, 15px, 0.92px)
                }
                & a:hover{
                    color: #333D4B;
                }
            }
        }
    }
    .header__box{
        height: 600px;
        background-image: url('/img/Bitmap.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        background-size: 100% 100%;
            .header__title--wrapper{
                padding-top: 117px;
                padding-right: 620px;
                .header__title--box{
                    & > h2{
                        @include font($francus__Font, 72px, 900, #FEFCF7, 72px);
                    }
                    & > p{
                        width: 100%;
                        max-width: 445px;
                        height: 78px;
                        margin-top: 32px;
                        margin-bottom: 56px;
                        @include font($barlow__Font, 16px, 400, rgba(254, 252, 247, 0.8), 26px);
                    }
                    & > button{
                        border: none;
                        border-radius: 6px;
                        padding: 16px 40px;
                        background-color: rgba(14, 135, 132, 1);
                        text-align: center;
                        @include font($francus__Font, 18px, 900, #FEFCF7, 25px);
                        transition:0.1s;
                    }
                    & > button:hover{
                        cursor: pointer;
                        background-color:  #66D2CF;
                    }
                }
            }
    }
}

